@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  font-size: 24px;
  font-family: "Noto Sans", sans-serif;
  margin: unset;
  background-color: #353535;
  color: rgb(238, 238, 238);
}

p {
  margin: unset;
}

form {
  margin: unset;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  transition: all 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  user-select: none;
  padding: 6px 12px;
  border: 1px solid #1b1b1b;
  border-radius: 5px;
  border-bottom-color: #070707;
  background-color: #353535;
  color: rgb(238, 238, 238);
  box-shadow: inset 0 1px transparent,
    0 1px 2px var(--shadow-color-transparentize-10, var(--shadow-color));
}

.btn:hover {
  background-color: #3b3b3b;
  cursor: pointer;
}

.text-input {
  padding: 4px;
  background-color: #2d2d2d;
  border: 1px solid #1b1b1b;
  border-radius: 5px;
  color: white;
}

.text-input:focus-visible {
  border-color: #2364e7a6;
  outline: unset;
}

/** mainpage */

ul.todos-list {
  list-style: none;
  padding: 0;
  width: clamp(100px, 50vw, 580px);
}

ul.todos-list .todo-entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.85rem 1rem;
  border-bottom: 1px solid #ffffff52;
  font-size: 21px;
}

ul.todos-list .todo-entry > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul.todos-list .todo-entry .todo-entry-remove-btn {
  margin-right: 15px;
}

ul.todos-list .todo-entry .todo-entry-is-done-label {
  margin-right: 5px;
}

ul.todos-list .todo-entry .todo-entry-update-state-btn {
  border: unset;
  background-color: unset;
  padding: 4px;
}

ul.todos-list .todo-entry .todo-entry-update-state-btn:hover {
  background-color: #505050;
}

/** bad request page */

.bad-request-message {
  display: flex;
  flex-direction: column;
}

.bad-request-message a {
  margin-top: 8px;
}

/** not found page */

.not-found-message {
  display: flex;
  flex-direction: column;
}

.not-found-message a {
  margin-top: 8px;
}
